:global(#PNLReader),
:global(#PNLTTSPlayerContainer) {
  $playBarBottomSpacing: 2em;
  $playBarPaddingVertical: 1.2em;

  $playBarBottomSpacingOnMobile: 0px;
  $playBarPaddingVerticalOnMobile: 0.7rem;

  .pnl-reader-error-banner {
    color: var(--pico-del-color);
    visibility: visible !important; // override some website(reddit) styles that hide it

    a {
      color: var(--pico-primary);
      text-decoration: none;
      padding: 0 5px;
    }

    &.in-trial {
      color: var(--pico-code-color);
    }

    &.for-audio {
      position: fixed;
      left: 50%;
      bottom: calc(
        80px + $playBarBottomSpacing + $playBarPaddingVertical * 2 + 0.5em
      );
      transform: translateX(-50%);
      background: var(--pico-code-background-color);
      border: 1px solid var(--pico-table-border-color);
      border-radius: 8px;
      padding: 10px 20px;
      margin-bottom: 0;
      max-width: 80vw;
      z-index: 2;

      @media (max-width: 768px) {
        width: 100%;
        max-width: 98vw;
        font-size: 0.97em;
        padding: 0.5em 1.2em;
        border-radius: 6px;
        bottom: calc(
          48px + $playBarBottomSpacingOnMobile + $playBarPaddingVerticalOnMobile *
            2 + 0.5em
        );
      }
    }
  }
}
