@use "@picocss/pico/scss/pico" with (
  $parent-selector: "#PNLReader"
);

#PNLReader {
  padding: 0;
  background-color: var(--pico-background-color);
  height: 100%; // fix for reddit
  min-height: 100vh; // fix for reddit

  > #PNLReaderHeader {
    display: block; // fix for ign
    background: unset; // fix for reddit
    padding: 10px 50px;
    background-color: var(--pico-background-color);
    &.sticky-on-top {
      position: sticky;
      top: 0;
      z-index: 1000;
    }
    h1.title {
      font-size: 2.5em;
    }
  }
  #PNLReaderArticle {
    color: var(--pico-color);
    font-family: var(--pico-font-family);
    font-size: var(--pico-font-size);
    line-height: var(--pico-line-height);

    header {
      details {
        background: unset; // fix for reddit
        summary.title {
          font-size: var(--pico-font-size);
          line-height: var(--pico-line-height);
          color: var(--pico-h1-color) !important;
        }
      }
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      & + span {
        display: block;
        text-align: center;
        font-size: 0.8em;
        color: var(--pico-muted-color);
      }
    }
    figure[typeof~="mw:File/Thumb"] > figcaption {
      display: none; // hide image caption for wikipedia, temporary fix
    }
    article {
      box-shadow: none;
      padding: 0;
    }
  }
}
