@use "@picocss/pico/scss/pico" with (
  $parent-selector: "#PNLReader"
);

#PNLReader {
  padding: 0;
  background-color: var(--pico-background-color);
  height: 100%; // fix for reddit
  min-height: 100vh; // fix for reddit

  > #PNLReaderHeader {
    display: block; // fix for ign
    background: unset; // fix for reddit
    padding: 15px 50px;
    background-color: var(--pico-background-color);
    &.sticky-on-top {
      position: sticky;
      top: 0;
      z-index: 1000;
    }
    h1.title {
      font-size: 2.5em;
      margin-bottom: 0;
    }
    .toolbar {
      li {
        margin-left: 25px;
        padding: 0;
        height: 50px;
        display: flex;
        align-items: center;
        label,
        input,
        select {
          font-size: 18px;
          margin: 0 5px;
        }
        select {
          width: 150px;
        }
        input#fontSize {
          width: 180px;
        }
        #toggleReadModeBtn {
          display: flex;
          align-items: center;
          padding: 10px;
        }
      }
    }
  }
  #PNLReaderArticle {
    color: var(--pico-color);
    font-family: var(--pico-font-family);
    font-size: var(--pico-font-size);
    line-height: var(--pico-line-height);

    header {
      details {
        background: unset; // fix for reddit
        summary.title {
          font-size: var(--pico-font-size);
          line-height: var(--pico-line-height);
          color: var(--pico-h1-color) !important;
        }
      }
    }

    img {
      width: auto; // fix for svt news
      // max-width: 100%;
      // height: auto;
      // display: block;
      // margin: 0 auto;
      & + span {
        display: block; // fix for bbc news
        // text-align: center;
        font-size: 0.8em;
        color: var(--pico-muted-color);
      }
    }
    figure[typeof~="mw:File/Thumb"] > figcaption {
      display: none; // hide image caption for wikipedia, temporary fix
    }
    article {
      box-shadow: none;
      padding: 0;
    }
  }

  footer {
    position: fixed;
    right: 50px;
    bottom: 20px;
    z-index: 1000;

    .scroll-buttons {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .scroll-button {
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
