@use "@picocss/pico/scss/pico" with (
  $parent-selector: ".pnl-read-mode-wrapper"
);

.pnl-read-mode-wrapper {
  padding: 20px;
  background-color: var(--pico-background-color);
  .container {
    padding: 20px;
    background-color: var(--pico-card-background-color);
    box-shadow: var(--pico-card-box-shadow);
    color: var(--pico-color);
    font-family: var(--pico-font-family);
    font-size: var(--pico-font-size);

    img {
      max-width: 100%;
      height: auto;
    }
  }

  #toggleReadModeBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000;
    border-radius: 5px;
  }
}
